<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Bag">
    <select id="findById" parameterType="bag" resultType="bag">
        select * from market_bag where memberId = #{memberId} and boardId = #{boardId}
    </select>

    <insert id="update" parameterType="bag">
        insert into market_bag (memberId,boardId)
            values (#{memberId},#{boardId})
    </insert>

    <delete id="delete" parameterType="bag">
        delete from market_bag where memberId = #{memberId} and boardId = #{boardId}
    </delete>

    <select id="myBag" parameterType="String" resultType="int">
        select count(id) from market_bag where memberId = #{memberId}
    </select>

    <select id="findList" parameterType="String" resultType="bag">
        select * from market_bag where memberId = #{memberId} order by id desc;
    </select>
</mapper>














