<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into market_board(memberId,boardTitle,boardContents,boardAddress,boardPrice,boardCategory,boardDate,boardProfile,boardFile,boardStatus)
        values (#{memberId},#{boardTitle},#{boardContents},#{boardAddress},#{boardPrice},#{boardCategory},now(),#{boardProfile},#{boardFile},"판매중")
    </insert>

    <select id="findByList" parameterType="String" resultType="board">
        select * from market_board where memberId = #{id} order by id desc
    </select>

    <select id="findById" parameterType="int" resultType="board">
        select * from market_board where id = #{id} order by id desc
    </select>

    <delete id="delete" parameterType="int">
        delete from market_board where id = #{id}
    </delete>

    <update id="update" parameterType="board">
        update market_board set boardTitle=#{boardTitle},boardContents=#{boardContents},boardAddress=#{boardAddress},boardPrice=#{boardPrice},boardCategory=#{boardCategory},boardProfile=#{boardProfile},boardFile=#{boardFile} where id = #{id}
    </update>

    <update id="hits" parameterType="int">
        update market_board set boardHits = boardHits + 1 where id = #{id}
    </update>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from market_board order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from market_board
    </select>

    <select id="pagingCategory" parameterType="board" resultType="board">
        select * from market_board where boardCategory = #{boardCategory} order by id desc limit #{id}, #{boardHits}
    </select>

    <select id="countCategory" parameterType="String" resultType="int">
        select count(id) from market_board where boardCategory = #{boardCategory}
    </select>
</mapper>














