<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into market_member (memberName,memberId,memberPassword,memberEmail1,memberEmail2,memberPost,memberAddress1,memberAddress2)
        values (#{memberName},#{memberId},#{memberPassword},#{memberEmail1},#{memberEmail2},#{memberPost},#{memberAddress1},#{memberAddress2})
    </insert>

    <select id="duplicate" parameterType="String" resultType="String">
        select memberId from market_member where memberId = #{memberId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from market_member where memberId = #{memberId} and memberPassword = #{memberPassword}
    </select>

    <select id="findById" parameterType="int" resultType="member">
        select * from market_member where id = #{id}
    </select>

    <update id="update" parameterType="member">
        update market_member set memberEmail1 = #{memberEmail1} , memberEmail2 = #{memberEmail2} , memberPost = #{memberPost} , memberAddress1 = #{memberAddress1} , memberAddress2 = #{memberAddress2} where memberId= #{memberId}
    </update>

    <delete id="delete" parameterType="int">
        delete from market_member where id = #{id}
    </delete>

    <select id="findAll" resultType="member">
        select * from market_member
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="member">
        select * from market_member order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from market_member
    </select>
</mapper>














